asgiref==3.11.1
beautifulsoup4==4.14.3
brotli==1.2.0
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
cssselect2==0.9.0
Django==5.2.15
django-filer==3.4.4
django-polymorphic==4.11.5
easy-thumbnails==2.10.1
feedparser==6.0.12
filelock==3.29.1
idna==3.18
joblib==1.5.3
langdetect==1.0.9
lxml==5.4.0
lxml_html_clean==0.4.4
newspaper4k==0.9.5
nltk==3.9.4
pillow==12.2.0
psycopg==3.3.4
psycopg-binary==3.3.4
python-dateutil==2.9.0.post0
PyYAML==6.0.3
regex==2026.5.9
reportlab==4.5.1
requests==2.34.2
requests-file==3.0.1
ruff==0.15.16
sgmllib3k==1.0.0
six==1.17.0
soupsieve==2.8.4
sqlparse==0.5.5
svglib==1.5.1
tinycss2==1.5.1
tldextract==5.3.1
tqdm==4.68.1
typing_extensions==4.15.0
urllib3==2.7.0
vaderSentiment==3.3.2
w3lib==2.4.1
webencodings==0.5.1
